.DS_Store
.idea/
__pycache__/

wordle/wordle_keys.json
*.log
# custom results
results/

# secrets
key.json
# optional game registry
game_registry.json
# optional model registry
model_registry.json
# custom backends
*_api.py
multimodal_referencegame/resources/docci_dataset/docci_metadata.jsonlines
multimodal_referencegame/resources/CLEVR_v1.0/scenes/CLEVR_train_scenes.json
.gitignore
multimodal_referencegame/resources/CLEVR_v1.0/scenes/CLEVR_val_scenes.json
